.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      = paginate confessions
      - confessions.each do |confession|
        .post-preview
          = link_to confession_path(confession) do
            %h2.post-title
              = confession.id
              = confession.title
            %h3.post-subtitle
              = confession.body.truncate(200)
        %hr/
      = paginate confessions
      %ul.pager
        %li.next
          %a{:href => "#"} Older Posts →

